/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans TC';
    font-style: normal;
    line-height: 150%;

}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(251, 251, 251, 1);
}

.header a {
    font-weight: bold;
    color: #000000;
    margin: 24px 20px;
    transition-duration: 0.3s;
}

.header a:hover {
    color: #0027D5;
}


/* Footer */
.footer {
    height: 280px;
    margin: 0 auto;
    background-color: rgba(251, 251, 251, 1);

}


@media (max-width: 768px) {
    .footer {
        height: 72px;
    }
}

.footerUp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 208px;
    font-size: 32px;
}


@media (max-width: 768px) {
    .footerUp {
        display: none;
    }
}


.footerUp div {
    display: flex;
}

.footerDw {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    font-size: 16px;
}

.footerUp p {
    font-weight: 500;
    font-size: 32px;
}