.banner {
    background-color: rgba(251, 251, 251, 1);
}

/* banner-up */
.banner-up {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    height: 834px;
    margin-bottom: -70px;
}

@media (max-width: 1200px) {
    .banner-up {
        flex-direction: column;
        justify-content: flex-start;
        height: 1000px;
        margin-bottom: -420px;
    }
}

.banner-up div {
    flex: 1;
    background-size: cover;
    background-position: center;
}

@media (max-width: 1200px) {
    .banner-up div {
        flex: initial;
    }
}

.index-image {
    background-image: url(https://images.unsplash.com/photo-1573496799652-408c2ac9fe98?q=80&w=2669&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

@media (max-width: 1200px) {
    .index-image {
        height: 375px;
    }
}

.index-introduce {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 64px;
    background-image: url(https://images.unsplash.com/photo-1582738411706-bfc8e691d1c2?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}


@media (max-width: 1200px) {
    .index-introduce {
        justify-content: flex-start;
        height: 500px;
        padding-top: 36px;
    }
}

@media (max-width: 480px) {
    .index-introduce {
        height: 375px;
        padding-top: 24px;
        padding-left: 24px;
    }
}

.banner-up h1 {
    font-weight: 900;
    font-size: 120px;
    line-height: 150%;
    color: #0027D5;
}

@media (max-width: 1600px) {
    .banner-up h1 {
        font-size: 80px;
    }
}


@media (max-width: 1200px) {
    .banner-up h1 {
        font-size: 60px;
    }
}

.banner-up h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #0027D5;
}

/* banner-dw */
.banner-dw {
    width: 56%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
    margin-left: calc(44vw - 80px);
    padding: 80px 40px;

    background-color: #ffffff;
}

@media (max-width: 1200px) {
    .banner-dw {
        width: calc(100% - 48px);
        margin: 0 24px;
        padding: 60px 40px;
    }
}

@media (max-width: 480px) {
    .banner-dw {
        margin: 0 12px;
        padding: 40px 24px;
    }
}

.banner-dw p {
    font-weight: 500;
    font-size: 28px;
    line-height: 150%;
}

@media (max-width: 1200px) {
    .banner-dw p {
        font-weight: 500;
        font-size: 24px;
        line-height: 150%;
    }
}

.index-icon {
    display: flex;
    flex-direction: row;
}

/* Service */
.service,
.blog {
    padding: 80px 16vw;
    background-color: rgba(251, 251, 251, 1);
}

@media (max-width: 1200px) {

    .service,
    .blog {
        padding: 64px;
    }
}

@media (max-width: 500px) {

    .service,
    .blog {
        padding: 12px;
    }
}

.service-img {
    width: 33vw;
    height: 100%;
    display: flex;
}

@media (max-width: 1200px) {
    .service-img {
        width: 50vw;
    }
}

@media (max-width: 768px) {
    .service-img {
        width: 100%;
    }
}

img {
    object-fit: cover;
}

.service ul li svg {
    margin-bottom: 5px;
}

.service h2 {
    margin-bottom: 32px;
}

.blog h2 {
    margin-bottom: 24px;
}

.service h2,
.blog h2 {
    font-weight: 700;
    font-size: 64px;
    line-height: 150%;
}

@media (max-width: 768px) {

    .service h2,
    .blog h2 {
        font-size: 48px;
    }
}

.service ul {
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin-bottom: 32px;
}

@media (max-width: 1200px) {
    .service ul {
        gap: 32px;
    }
}

.service li {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 320px;
    padding: 0 5.7vw;
}

@media (max-width: 1200px) {
    .service li {
        height: 280px;
    }
}

@media (max-width: 768px) {
    .service li {
        flex-direction: column;
        padding: 0;
        height: auto;
    }
}

.service li:nth-child(even) {
    flex-direction: row-reverse;
}

@media (max-width: 768px) {
    .service li:nth-child(even) {
        flex-direction: column;
    }
}

.odd,
.even {
    background-color: #ffffff;
    width: 25vw;
    padding: 24px;
    z-index: 2;
}

@media (max-width: 1200px) {

    .odd,
    .even {
        width: 40vw;
    }
}

@media (max-width: 768px) {

    .odd,
    .even {
        width: 100%;
    }
}


.odd {
    margin-left: -30px;
}

.even {
    margin-right: -30px;
}

@media (max-width: 768px) {

    .odd,
    .even {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.service h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
}

.service ul li h3 {
    margin-bottom: 8px;
}

.service p {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #4B4B4B;
}

/* service-contact */
.service-contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.service-contact a {
    display: flex;
    color: black;
}

@media (max-width: 480px) {
    .service-contact a {
        flex-direction: column;
        align-items: flex-end;
    }
}

.service-contact h3 {
    margin-right: 8px;
}

@media (max-width: 480px) {
    .service-contact h3 {
        margin-right: 0px;
        margin-bottom: 8px;
    }
}

.service-contact div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px black solid;
    border-radius: 40px;
}

/* Blog */
.blog > div {
    display: flex;
    /* flex-direction: row;
    justify-content: center; */
    align-items: center;
}

.blog ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    padding: 0;
}

.content {
    width: 30%;

    margin: 40px 0;
}

.content li {
    display: flex;
    align-items: center;
}

.content span {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #0027D5;
    margin-right: 4px;
}

.content .hot {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;

    margin-left: 4px;
    border-radius: 40px;
    padding: 4px 10px;
    background-color: #0027D5;
}

.content h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;

    margin-bottom: 8px;
}

.content p {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;

    color: #4B4B4B;
}

.content h3,
.content p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
}

.content a {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #4B4B4B;

    margin-top: 16px;
    padding: 8px 16px;
    border: black solid 1px;
    border-radius: 40px;
}

.content a:hover {
    color: white;
    background-color: #0027D5;
}